.botonesFlotantes {
	position: fixed;
	bottom: 0px;
	z-index: 2;
	width: 100%;
}
.btn-llamar {
	border-radius: 0px !important;
	width: 50%;
}
.btn-whats {
	border-radius: 0px !important;
	width: 50%;
	background-image: linear-gradient(to left, #25D366, #128C7E, #25D366);
}
@media (min-width: 769px) {
	.botonesFlotantes {
		display: none;
	}
}
.btn i {
	left: 0px;
}
.col-xs-6 .col-md-6 {
	width: 50% !important;
}